.section {
  width: 100%;
  height: auto;
  padding: 45px 0;
  background-color: var(--beige-bck);
}
.title {
  font-size: 2rem;
  color: var(--green-soft);
  text-align: center;
}
.line {
  width: 50%;
  height: 4px;
  background-color: white;
  margin: 20px auto;
}
.sobre {
  width: 250px;
  height: 150px;
  background-color: #fff;
  border: 2px solid var(--second-green);
  position: relative;
  margin: 2rem auto;
  box-shadow: 0 2px 6px rgba(167, 167, 167, 0.2);
}

/* Triángulo que simula la tapa del sobre */
.tapa {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid var(--green-soft);
  position: absolute;
  transform: rotate(180deg);
  top: 40%;
  left: 38%;
}
.p {
  font-size: 1.6rem;
  color: var(--main-green);
  width: 70%;
  font-weight: 500;
  margin: 10px auto;
  text-align: center;
}
.p2 {
  width: 75%;
  font-size: 1.5rem;
  color: rgb(91, 91, 91);
  margin: 0 auto;
  text-align: center;
}
